/.vscode
/.cache
/lib
http11_parser.cc
httpclient_parser.cc
uri.cc
/build
/bin/*
!/bin/conf
/images
# *.md
*.log
*.pb.cc
*.pb.h
/chen/version.h
*3rdparty*
.idea
*.pid
*.db
*.iml
.DS_Store
*.db
*.pid
converter
.venv
*.bin
__pycache__
*.pyc
*.pyo
*.pyd
tests/bin
protocol/include
*.upload*